name: Deploy Turing Stack

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      - name: Provisionamento e Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Preparar Pastas
            sudo mkdir -p /var/inetpub/wwwroot/teste-turing
            sudo chown -R ubuntu:ubuntu /var/inetpub/wwwroot/teste-turing

            # 2. Criar o arquivo da Stack (Atenção ao alinhamento do EOF)
            cat <<EOF > docker-compose-turing.yml
            version: "3.9"
            services:
              nginx-turing:
                image: nginx:alpine
                networks:
                  - dockermaster
                volumes:
                  - /var/inetpub/wwwroot/teste-turing:/usr/share/nginx/html:ro
                deploy:
                  mode: replicated
                  replicas: 1
                  resources:
                    limits:
                      cpus: '0.1'
                      memory: 32M
                  labels:
                    - "traefik.enable=true"
                    - "traefik.http.routers.teste-turing.rule=Host(\`lab.inetz.com.br\`)"
                    - "traefik.http.routers.teste-turing.entrypoints=websecure"
                    - "traefik.http.routers.teste-turing.tls.certresolver=letsencryptresolver"
                    - "traefik.http.services.teste-turing.loadbalancer.server.port=80"
                    - "traefik.docker.network=dockermaster"
                    - "io.portainer.display.name=Stack-Turing-Alunos"
            networks:
              dockermaster:
                external: true
            EOF

            # 3. Executar o Deploy
            sudo docker stack deploy -c docker-compose-turing.yml turing
