name: Deploy Turing Stack
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      - name: Mestre de Obras (Preparar Terreno)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1, 2 e 3: Garantir Docker, Swarm, Redes e Pastas
            if ! [ -x "$(command -v docker)" ]; then curl -fsSL https://get.docker.com | sh && sudo usermod -aG docker ubuntu; fi
            if [ "$(sudo docker info --format '{{.Swarm.LocalNodeState}}')" != "active" ]; then sudo docker swarm init; fi
            sudo docker network ls | grep dockermaster || sudo docker network create -d overlay dockermaster
            sudo mkdir -p /var/inetpub/wwwroot/teste-turing
            sudo chown -R ubuntu:ubuntu /var/inetpub/wwwroot/teste-turing

      - name: Avisar Portainer (A Mágica)
        run: |
          # Este comando dá o "cutucão" no Portainer para ele ler o arquivo do Git
        curl -X POST "${{ secrets.PORTAINER_WEBHOOK_URL }}"
