name: Deploy Turing Stack
on:
  push:
    branches: [ main ] # Dispara toda vez que você der um push na main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      - name: Provisionamento e Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Verificar/Instalar Docker
            if ! [ -x "$(command -v docker)" ]; then
              echo "--- Instalando Docker ---"
              curl -fsSL https://get.docker.com | sh
              sudo usermod -aG docker ubuntu
            fi

            # 2. Verificar/Iniciar Swarm
            if [ "$(docker info --format '{{.Swarm.LocalNodeState}}')" != "active" ]; then
              echo "--- Inicializando Swarm ---"
              sudo docker swarm init
            fi

            # 3. Preparar Rede e Pastas
            sudo docker network ls | grep dockermaster || sudo docker network create -d overlay dockermaster
            sudo mkdir -p /var/inetpub/wwwroot/teste-turing
            sudo chown -R ubuntu:ubuntu /var/inetpub/wwwroot/teste-turing

# 4. Criar o arquivo da Stack no servidor com Labels do Portainer
            cat <<EOF > docker-compose-turing.yml
            version: '3.8'
            services:
              nginx-turing:
                image: nginx:alpine
                networks:
                  - dockermaster
                volumes:
                  - /var/inetpub/wwwroot/teste-turing:/usr/share/nginx/html:ro
                deploy:
                  mode: replicated
                  replicas: 1
                  resources:
                    limits:
                      cpus: '0.1'
                      memory: 32M
                  labels:
                    # Labels do Traefik (Roteamento)
                    - "traefik.enable=true"
                    - "traefik.http.routers.teste-turing.rule=Host(\`lab.inetz.com.br\`)"
                    - "traefik.http.routers.teste-turing.entrypoints=websecure"
                    - "traefik.http.routers.teste-turing.tls.certresolver=letsencryptresolver"
                    - "traefik.http.services.teste-turing.loadbalancer.server.port=80"
                    - "traefik.docker.network=dockermaster"
                    
                    # Labels de Identidade para o Portainer (Engenheiro de Sistemas)
                    - "io.portainer.display.name=Stack-Turing-Alunos"
                    - "com.docker.stack.namespace=turing"
            networks:
              dockermaster:
                external: true
            EOF

            # 5. Executar o Deploy da Stack
            sudo docker stack deploy -c docker-compose-turing.yml turing
